
.tui-image-editor-container .tui-image-editor {
    background: url(../img/transparency.png);
}




.editorheight {
    height: 100vh;
}

.editor-sidebar {
    height: 100vh;
}

.btn-save {
    color: #fff;
    background-color: #272626;
}

.btn-save:hover {
    color: #fff;
    background-color: #5a5a5a;
}

.btn-save:focus,
.btn-save.focus {
    color: #fff;
    outline: none;
    box-shadow: none;
}

.btn-new {
    color: #fff;
    background-color: #272626;
}

.btn-new:hover {
    color: #fff;
    background-color: #5a5a5a;
}

.btn-new:focus,
.btn-new.focus {
    color: #fff;
    outline: none;
    box-shadow: none;
}

.btn-new:active {
    background-color: #486d6a;
    border-radius: 5%;
}

.btn-save:active {
    background-color: #486d6a;
    border-radius: 5%;
}







.editor-sidebar-logo,
.editor-sidebar-controls {
    padding: 40px 0 40px 0;

}

.editor-sidebar-logo {
    height: 25vh;
}

.editor-sidebar-controls {
    height: 15vh;
    display: flex;
    justify-content: space-evenly;
}

.editor-sidebar-controls>button {
    font-size: 0.9rem;
}

.editor-sidebar-controls>button>.svg-inline--fa {
    /* font-size: 1.3em;
    margin-right: 0.5em */
}

.editor-sidebar-logo>img {
    height: 150px;
}

.sidebar-folder {}


.editor-sidebar-stickers {
   
}

.editor-sidebar-controls {
    width: 100%;
}
.sidebar-btn {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.svg-inline--fa {
    margin: 0px 2px 0px 2px;
    padding: 0;
}




/* block editor */
.tui-image-editor-header {
    height: 64px;
}
.tui-image-editor-header-logo {
    display: none;
}

.tui-image-editor-header-buttons {
    z-index: 9999;
}

.tui-image-editor-controls {
  
}

.tui-image-editor-main-container {
    
}
.tui-image-editor-header {
    background-color: #151515 !important;
    opacity: 0.9;
}
.tui-image-editor-submenu-style {
    background-color: #151515;
}

/* .tui-image-editor-submenu-item {
    margin-top: 20px !important; RESHENIE
} */


.tui-image-editor-range-wrap label {
    padding-bottom: 5px;
}



.editor-sidebar-navigation {
    border: 2px solid #6ea174;
    border-radius: 5px;
    margin: 10px 10px 10px 10px;
    background-color: #1c2d43;
    -moz-box-shadow:    inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow:         inset 0 0 10px #000000;
}


.page-header {
    padding-top: 3rem !important;
    padding-bottom: 7rem !important;
}

.foursblock-main-page {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
}


.logostylesdesktop {
    height: 96px;
    position: relative;
    z-index: 3;
    top: 10px;
}

.logostylemobilefox {
    display: none;
    z-index: 3;
}

.logostylemobilesign {
    display: none;
    z-index: 3;
}




@media (max-width: 992px) {
    .headerlogos>.logostylesdesktop {
        display: none;
    }
    .headerlogos {
        z-index: 9999;
    }

    .logo-mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%
    }

    .logostylemobilefox {
        display: block;
        width: 70px;

    }

    .logo-mobile .Logo-mobile-fox-item {
        z-index: 9999;
        transform: rotate(6deg);
    }

    .logostylemobilesign {
        display: block;
        width: 230px;
        margin-left: -23px;
        margin-top: 5px;
        z-index: 3;
    }
   .Logo-mobile-fox-item {
        z-index: 9999;
    }

    .navbar-marketing .navbar-toggler svg {
        width: 2.3rem;
        height: 2.3rem;
    }
    .navbar-toggler:focus {
        outline: none;
    }
}





/* скрываем чекбокс */
#menu__toggle {
    opacity: 0;
  }
  /* стилизуем кнопку */
  .menu__btn {
    display: flex; /* используем flex для центрирования содержимого */
    align-items: center;  /* центрируем содержимое кнопки */
    position: fixed;
    top: 60px;
    right: 20px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 9999;
border-radius: 5px;

  }
  /* добавляем "гамбургер" */
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #616161;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  /* контейнер меню */
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  }
  /* элементы меню */
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;

  }
 

  .page-header-button {
      width: 200px;
      height: 20px;
      background: black;
  }


  .btn__position {
      margin-left: 0px !important;
  }
  .navbar-collapse__position {
      position: relative;
  }

  .navbar-loginbutton__center {
    margin: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }




  .progressbar-overlay {
    display: none;
    position: absolute;
    z-index: 9999;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, .5);

}

.progressbar-container {
    border-radius: 7px;
    background: white;
    padding: 20px;
    width: 240px;
    position:absolute;
}

.progressbar-picture {
    border: 2px solid #464646;
    border-radius: 5px;
    width: 100%;
}

.progressbar-text {
    margin-top: 17px;
    text-align: center;
}

.displayBlockClass {
    display: block !important;
}

.tui-image-editor-item {
    margin: 2px auto !important;
}

